<div class="row">
	<div class="col-md-6">
		<h2>Add video</h2>

		<div class="form-horizontal">

			<div class="form-group">
				<label>Select video to upload:</label>
				<div class="input-group">
					<span class="input-group-btn"> <span
						class="btn btn-primary btn-file"> Browse… <input
							type="file" name="myvideo" nv-file-select="" uploader="uploader">
					</span>
					</span> <input type="text" id="videofile" class="form-control" readonly="">
				</div>
			</div>

			<div class="form-group">
				<div ng-repeat="item in uploader.queue">
					<div class="row">
						<div class="col-sm-2">
							<button class="btn btn-primary" ng-click="item.upload()">upload</button>
						</div>
						<div class="col-sm-4">
							<div class="progress" style="">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
		
		<div class="alert alert-success" ng-show="fileUploadFlag">
			File uploaded successfully!
		</div>
</div>